.lkt-dot {
    --lkt-dot--background: red;
    --lkt-dot--border-radius: 100%;
    --lkt-dot--color: #ffffff;
    --lkt-dot--display: block;
    --lkt-dot--font-size: 12px;
    --lkt-dot--font-style: normal;
    --lkt-dot--height: 16px;
    --lkt-dot--line-height: var(--lkt-dot--height);
    --lkt-dot--position: static;
    --lkt-dot--right: 0;
    --lkt-dot--top: 0;
    --lkt-dot--text-align: center;
    --lkt-dot--width: 16px;
}